@import 'variables';
// 以下为element-ui按钮样式
.el-button{display:inline-block;line-height:1;white-space:nowrap;cursor:pointer;background:#fff;border:1px solid #e5e5e5;color:#666;-webkit-appearance:none;text-align:center;box-sizing:border-box;outline:0;font-weight:700;margin:0;transition:all .2s;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;padding:10px 16px;font-size:13px;border-radius:2px}
.el-button+.el-button{margin-left:10px}
.el-button:hover{background:#f2f2f2;border-color:#e5e5e5;color:#666}
.el-button:active{background:#ebebeb;border-color:#e5e5e5;color:#666}
.el-button::-moz-focus-inner{border:0}
.el-button i{font-size:16px;vertical-align:middle}
.el-button i+span{vertical-align:middle;margin-left:10px;font-weight:100}
.el-button.is-loading{padding:7px 8px;position:relative;pointer-events:none}
.el-button.is-loading .h-icon-loading{margin-right:10px}
.el-button.is-loading:before{pointer-events:none;content:'';position:absolute;left:-1px;top:-1px;right:-1px;bottom:-1px;border-radius:inherit;background-color:rgba(255,255,255,.35)}
.el-button.is-active{color:#1d73de;border-color:#1d73de}
.el-button.is-radius{border-radius:18px}
.el-button.is-plain:hover{background-color:#fff;border-color:#2080f7;color:#2080f7}
.el-button.is-plain:active{background-color:#fff;border-color:#1d73de;color:#1d73de;outline:0}
.el-button.is-icon{min-width:0;padding:8px 8px 8px 10px;border:none}
.el-button.is-icon.el-button--large{padding:11px 23px}
.el-button.is-icon.el-button--small{padding:5px 14px}
.el-button.is-icon.el-button--mini{padding:5px 7px}
.el-button.is-iconBorder{padding:7px 8px 7px 10px}
.el-button--primary{color:#fff;background-color:#2080f7;border-color:#2080f7}
.el-button--primary:hover{background:#4d99f9;border-color:#4d99f9;color:#fff}
.el-button--primary.is-active,.el-button--primary:active{background:#1d73de;border-color:#1d73de;color:#fff}
.el-button--primary:active{outline:0}
.el-button--primary.is-plain{background:#fff;border:1px solid #ccc;color:#666}
.el-button--primary.is-plain:hover{background:#fff;border-color:#2080f7;color:#2080f7}
.el-button--primary.is-plain:active{background:#fff;border-color:#1d73de;color:#1d73de;outline:0}
.el-button--success{color:#fff;background-color:#3bcd8d;border-color:#3bcd8d}
.el-button--success:hover{background:#62d7a4;border-color:#62d7a4;color:#fff}
.el-button--success.is-active,.el-button--success:active{background:#35b97f;border-color:#35b97f;color:#fff}
.el-button--success:active{outline:0}
.el-button--success.is-plain{background:#fff;border:1px solid #ccc;color:#666}
.el-button--success.is-plain:hover{background:#fff;border-color:#3bcd8d;color:#3bcd8d}
.el-button--success.is-plain:active{background:#fff;border-color:#35b97f;color:#35b97f;outline:0}
.el-button--iconButton{border:none;color:#666;background:0 0}
.el-button--iconButton:hover{background:#ebebeb;color:#666}
.el-button--iconButton:active{background:#e5e5e5;color:#666}
.el-button--large{padding:11px 23px;font-size:12px;border-radius:2px}
.el-button--large i{font-size:18px}
.el-button--small{padding:5px 14px;font-size:12px;border-radius:2px;min-width:0}
.el-button--small i{font-size:14px}
.el-button--mini{padding:5px 7px;font-size:12px;border-radius:2px;min-width:0}
.el-button--link,.el-button--text{border:none;padding-left:0;padding-right:0;min-width:0;background:0 0}
.el-button--mini i{font-size:12px}
.el-button--text{font-weight:400;font-weight:initial;color:#3875f6}
.el-button--text:active,.el-button--text:hover{color:#6091f8;background:0 0}
.el-button--link{font-weight:400;font-weight:initial;color:#3875f6}
.el-button--link:active,.el-button--link:hover{color:#3875f6;background:0 0;text-decoration:underline}
/* 以下为追加zlzk按钮样式 */
.el-button.grey {
  color: #999999;
  background-color: #f5f6f0;
}
.el-button.back-green {
  background-color: #8bbf1b;
  color: #ffffff;
}
.el-button.back-green:active {
  background-color: #6E8B3D;
}
.el-button.inner-green {
  color: #8bbf1b;
  border: 1px solid #8bbf1b;
}
.el-button.inner-red {
  color: #fd6969;
  border: 1px solid #fd6969;
}
.el-button.back-red:active {
  background-color: red;
}
.el-button.back-red {
  background-color: #fd6969;
  color: #ffffff;
}
.el-button.inner-black {
  color: #333333;
}
.el-button.back-black {
  background-color: #2c2e3b;
  color: #bdf11b;
}
.el-button.svg-only {
  padding: 6px 30px;
  font-size: 20px;
}
.el-button.none-border {
  border: 0;
}
.el-button--btn-group-1 {
  width: 70%;
  border-radius: 0;
  font-size: .17rem;
  padding: 16px;
}
.el-button--btn-group-2 {
  width: 30%;
  border-radius: 0;
  font-size: .17rem;
  padding: 16px;
  margin-left: 0 !important;
  float: right;
}
.el-button.svg-diving-line {
  padding-top: 0;
  padding-bottom: 0;
}
.el-button.svg-diving-line span:first-child{
  border-right: 1px solid #e5e5e5;
  padding-right: 5px;
  height: 100%;
  padding: 5px;
  display: inline-block;
}
.el-button.inner-green-only span:first-child {
  color: #8bbf1b;
}
.el-button.inner-red-only span:first-child {
  color: #fd6969;
}
.el-button.inner-black-only span:first-child {
  color: #333333;
}
// 以下为增减数字按钮样式
.tws-main-div {
  position: relative;
  display: inline-block;
  width: 1.2rem;
  line-height: .32rem;
  font-size: .2rem;
  .reduce-btn {
    left: 1px;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #dcdfe6;
  }
  .increase-btn {
    right: 1px;
    border-radius: 0 4px 4px 0;
    border-left: 1px solid #dcdfe6;
  }
  .reduce-btn, .increase-btn {
    position: absolute;
    z-index: 1;
    top: 1px;
    font-size: .2rem;
    width: .32rem;
    height: auto;
    text-align: center;
    background: #f5f6f0;
    color: #666666;
  }
  .number-text {
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    color: #666666;
    display: inline-block;
    font-size: inherit;
    height: .3334rem;
    line-height: .3334rem;
    outline: none;
    text-align: center;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
  }
}
.index-main-content {
  height: calc(100vh - .6rem);
  overflow-y: auto;
}