/*
* title：公共变量库
* author：赵宇龙
* tips：添加新值请尽量按照如下规范，或者大家一起沟通更好的规范。
*/
$c-ffffff: #ffffff; /*白色   - 不解释*/
$c-000000: #000000; /*黑色   - 不解释*/
$c-2c2e3b: #2c2e3b; /*深黑色 - 平台的主色调，一般用于需突出的文字，主按钮和icon*/
$c-96b327: #96b327; /*深绿色 - 页面小面积使用，用于部分按钮、特殊图标、状态颜色*/
$c-8bbf1b: #8bbf1b; /*翠绿色 - 用于深色背景下的选中状态色*/
$c-fd6969: #fd6969; /*玫红色 - 用于删除、提示类按钮、图标，和提示文字*/
$c-fbab4a: #fbab4a; /*橙色   - 特殊提示类图标和文字*/
$c-191820: #191820; /*深黑色 - 用于header组件，显示头部背景颜色*/
$c-999999: #999999; /*灰色   - 用于次要级文字信息*/
$c-eeeeee: #eeeeee; /*浅灰色 - 用于搜索内框背景颜色*/
$c-dddddd: #dddddd; /*浅灰色 - 用于边框分割*/
$c-f5f5f5: #f5f5f5; /*浅灰色 - 用于分割模块的底色及部分标签背景色*/
/*以下颜色是日历组件相关*/
$c-333333: #333333; /*黑色   - 用于（日历）主要信息*/
$c-666666: #666666; /*灰色   - 用于（日历）次要级文字信息*/
$c-c5c5c5: #c5c5c5; /*灰色   - 用于 (日历) 上月或下月文字颜色*/
$c-fb762b: #fb762b; /*橙色   - 用于 (日历) 周六周日颜色显示*/

